<h1>Show restaurant</h1>

  <h2><%= @restaurant.name %></h2>
  <%= @restaurant.address %><br>
  <%= @restaurant.city %>, <%= @restaurant.province %>&nbsp &nbsp<%= @restaurant.postal_code %><br>
  <%= @restaurant.phone %><br><br>
  Price: <%= @restaurant.price %>