<!DOCTYPE html>
<html>
<head>
  <title>Seat Yourself</title>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if current_user %>
    Hi, <%= current_user.name %>
    <%= link_to "Log out", session_path("#{current_user.id}"), :method => :delete %>
  <% else %>
    <%= link_to "Log in", new_session_path %>
    or 
    <%= link_to "Sign up", new_user_path %>
  <% end %>
  
  <%= render :partial => "flash_tags" %>
  <%= yield %>

  <p><%= link_to "Back", :back %></p>


</body>
</html>
